.titulo {
    margin-left: 2%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2B54C2;
    background-color: white;
}
.pt_azul {
    margin: auto;
    padding: auto;
    padding: 5%;
    align-items: center;
    text-align: center;
    background-color:#2B54C2;
    color: white;
}
.botao{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    width: 110px;
    background-color: #FF6565;
    padding: 10px;
    border:#2B54C2;
    border-radius: 5px;
}

.titulo2 {
    background-color: red;
    justify-content: center;
    align-items: stretch;
    text-align: center;
    padding: 30px;
}
.cards {
    width: 100%;
    background-color: red;
    display: flex;
    justify-content:space-around;
    gap: 50px;
}
.card1 {
    background-color: white;
    border-radius: 5px;
    margin-bottom: 30px;
    width: 500px;
    text-align: center;
}
.card2 {
    background-color: white;
    border-radius: 5px;
    margin-bottom: 30px;
    width: 500px;    
    text-align: center;
}
.card3 {
    background-color: white;
    border-radius: 5px;
    margin-bottom: 30px;
    width: 500px;
    text-align: center;
}
.rodape {
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: gray;
    padding: 5px;
}